Exercise_02/BigramTagger.py
Exercise_04/.idea/Exercise_04.iml
Exercise_04/.idea/inspectionProfiles/Project_Default.xml
Exercise_04/.idea/misc.xml
Exercise_04/.idea/modules.xml
Exercise_04/.idea/workspace.xml
